.hamburger {
    --rotate-time: .15s;
    --move-time: .1s;
}

.hamburger {
    width: 60px;
    height: 45px;
    position: relative;
}
  
.hamburger span {
    position: absolute;
    height: 9px;
    width: 100%;
    background: #F5841F;
    border-radius: 4.5px;
    left: 0;
}

.hamburger span:nth-child(1) { top: 0px; 
    transition: 0.2s;}
  
.hamburger span:nth-child(2) { top: 18px;
    transition: 0.5s;}
  
.hamburger span:nth-child(3) { bottom: 0px; 
    transition: 0.2s;}

.hamburger-nav {
    transform: scaleY(0);
    transition: 0.35s;
    transform-origin:top;
    position: absolute;
    left: 0;
    right: 0;

}

@media screen and (max-width: 639px) { 
   

    .hamburger.active span:nth-child(1){
        transform: rotateZ(45deg);
        transition: 0.2s;
        top: 18px;
    }

    .hamburger.active span:nth-child(2){
        transform: translate(100px);
        transition: 0.5s 0.2s;
        opacity: 0;
        overflow: hidden;
    }

    .hamburger.active span:nth-child(3){
        transform: rotateZ(-45deg);
        transition: 0.2s;
        top: 18px;
    }

    .hamburger-nav.active {
        transform: scale(1);
        transition: 0.35s;
        position: absolute;
        left: 0;
        right: 0;
    }

    .hamburger-menu{
        text-align: center;
        background-color: #ffffff;
        color: white;
    }

    .hamburger-menu > li{
        padding: 0.7em;
        margin-top: 2px;
        background-color: #F5841F;
    }
}
